.page__header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* Parámetros para la sección del encabezado */
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__logo {
  width: 154px;
  height: 31px;
  position: fixed;
  top: 30px;
  left: 64px;
  z-index: 2;
}
.header__title {
  margin-left: 64px;
  line-height: 96px;
  font-size: 70px;
  font-weight: bold;

  width: 730px;
  z-index: 3;
}
.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__link {
  text-decoration: none;
}
.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}
