.content__oakley {
  width: 80%;
  display: flex;
  margin: 100px auto 50px auto;
  background-color: #f2f2f2;
}
.oakley__barbara {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
}
.oakley__history {
  text-align: justify;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
  min-width: 784px;
  width: 80%;
}
