.page {
  min-width: 1100px;
  /* Todavía no sabemos cómo hacer versiones de páginas web para móviles, así que
     hemos establecido un mínimo para el ancho de la página */
  max-width: 1600px;
  /* Aquí hemos establecido un máximo para el ancho de la página */
  margin: 0 auto;
  /* esto garantiza que todo el contenido esté centrado en pantallas de más de 1600 px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* Parámetros para la sección del encabezado */
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
  width: 154px;
  height: 31px;
  position: fixed;
  top: 30px;
  left: 64px;
  z-index: 2;
}
.header__title {
  margin-left: 64px;
  line-height: 96px;
  font-size: 70px;
  font-weight: bold;

  width: 730px;
  z-index: 3;
}
.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__link {
  text-decoration: none;
}
.header_main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

/* Aquí tenemos dos ejemplos de selectores para 
recordarte cómo configurar los estilos de los elementos*/

/* incluidos aquellos con modificadores clave-valor */

.two-columns {
  display: flex;
  justify-content: space-around;
  margin: 100px auto;
  width: 80%;
}
.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
}
.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}
.two-columns__paragraph {
  text-align: justify;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
}
.two-columns_span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}
.table__cell {
  width: 250px;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
}
.section-title_theme_dark {
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}
.section-sub-title_theme_dark {
  color: white;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-title {
  width: 60%;
  margin: 0 auto 20px auto;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto 60px auto;
  text-align: center;
}

.table {
  width: 1100px;
  margin: 0 auto 100px auto;
  position: relative;
  z-index: 1;
}
.table ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  row-gap: 60px;
  column-gap: 15px;
}

.table__heading {
  margin-bottom: 20px;
}
.table__text {
  text-align: justify;
}
.cite {
  margin-top: 20px;
}
.feynman {
  width: 100%;
  height: 790px;
  position: relative;
}
.feynma__title {
  width: 770px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-bottom: 75px;
  line-height: 90px;
  font-size: 60px;
  font-weight: bold;
  z-index: 9;
}
.feynman__subtitle {
  position: relative;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 8;
}
.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 25px;
  font-weight: normal;
  right: 48px;
  top: 50%;
}
.kaufman {
  padding-top: 90px;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.kaufman__section-subtitle {
  width: 60%;
  margin: 0 auto 80px auto;
  text-align: center;
}

.kaufman__image {
  position: absolute;
  right: -124px;
  top: 0;
  width: 660px;
  height: 636px;
}
.footer {
  padding-top: 60px;
  background-color: black;
}
.footer__columns {
  display: flex;
  min-width: 350px;
  justify-content: space-between;
}
.footer_column_place-footer {
  width: 183px;
  height: 35px;
  position: static; /* Reinicia la posición */
}
.footer__author {
  color: white;
  padding-bottom: 18px;
}
.footer__column-heading {
  color: white;
  padding-bottom: 20px;
}
.footer_column_content-copyrigth {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__list li {
  color: white;
  list-style: none;
}

.footer__img-social {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.footer_column_content-social a {
  text-decoration: none;
  color: white;
}
